// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

#wrapwrap {
       header#top {
           position: fixed;
           left: 0;
           top: 0px;
           width: 100%;
           background-color: white;
           padding: 30px 0;
           z-index: 1000;
           transition: transform 0.4s;
        }

        @media (max-width: map-get($grid-breakpoints, "lg")) {
            height: 85px;
            background-color: transparent;
        }

        .o_menu_loading .nav-item {
            opacity: 1 !important;
        }

        nav.navbar {
            transition: transform 0.4s;

            > .container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (min-width: 1300px) {
                    max-width: $container-large;
                }
            }
            .nav-item {
                @media (max-width: map-get($grid-breakpoints, "lg")) {
                    &:first-child {
                    }
                }
            }
        }

    // Header Logo
    .logo {
        a {
            display: block;
        }

        img {
            width: 200px;
        }
    }
    // Header Nav
    .navbar {
        .navbar-toggler-icon {
            background-image: url("/theme_kaizen/static/img/icons/hamburger.svg");
            margin-right: 20px;
        }
        .nav-item {
            margin-right: 30px;

            @media (max-width: 1199.98px) {
                margin-right: 20px;
            }

            @media (max-width: map-get($grid-breakpoints, "lg")) {
                margin-right: 0;
            }
        }

        @media (max-width: map-get($grid-breakpoints, "lg")) {
            position: fixed;
            top: 0px;
            padding: 25px 0;
            left: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

            max-height: calc(100% - 90px);
            overflow-y: auto;
            overflow-x: hidden;
        }

        > .container {
            @media (min-width: map-get($grid-breakpoints, "lg")) {
                padding: 0;
            }
        }

        > .container > .collapse,
        > .container > .collapsing {
            @media (min-width: map-get($grid-breakpoints, "lg")) {
                display: flex !important;
                align-items: center;
                justify-content: center;
                opacity: 1 !important;
            }

            @media (max-width: map-get($grid-breakpoints, "lg")) {
                width: 100%;
            }
        }
    }
    // Mega-menu Get Ubuntu Touch Collapse
    #getUbuntuTouchCollapse {
        .container {
            padding: 25px 0;
        }
    }

    // Hamburger Icon
    .header-hamburger {
        display: none;


        img {
            width: 33px;
        }
    }


}
